.navbar{
    background-color: #171a4a;
}

.presentacion{
    color: #171a4a;
}

.resumen{
    font-size: 110%;
}

.titulocard{
    background-color: #171a4a;
    color: aliceblue;
}
.titulo{
    background-color: #2f2c79;
    color: aliceblue;
}

.tituloprogramas{
    background-color: #5b7dcf;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.programas{
    background-color: #ffffff;
}

.division{
    background-color: #96b3ff
}

.tituloportafolio{
    color: #171a4a;
    display: flex;
    justify-content: center;
}

.card-title2{
    background-color: #5b7ecf89;
    color: #ffffff;
}
.card-footer{
    background-color: #96b4ff65;
}

.box-footer{
    background-color: #171a4a;
    color: #ffffff;
}